.first-section img {
  border: 7px solid #d1a63c;
}
h1 {
  font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
}
.second-section ul {
  font-family: serif;
  font-size: 17px;
}
.second-section p {
  font-size: 17px;
}
.second-section a {
  color: black;
}
input {
  display: block;
  border: 2px solid black;
  height: 25px;
  width: 152px;
}
::placeholder {
  font-size: 15px;
  padding: 7px;
  color: black;
}
.btn {
  width: 160px;
  height: 25px;
  margin-top: 10px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  padding: 3px;
  font-family: system-ui;
}
